@font-face {
	font-family: 'GlacialIndifference';
	src: url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
		url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
		url('../fonts/glacialindifference-regular-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'GlacialIndifference';
	src: url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
		url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
		url('../fonts/glacialindifference-bold-webfont.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'GlacialIndifference';
	src: url('../fonts/glacialindifference-italic-webfont.woff2') format('woff2'),
		url('../fonts/glacialindifference-italic-webfont.woff') format('woff'),
		url('../fonts/glacialindifference-italic-webfont.ttf') format('truetype');
	font-style: italic;
}
