@import './_colors';
@import './_fonts';
@import './_grid';

html {
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	font-family: 'Glacial Indifference', sans-serif;
	margin: 0;
}

.main {
	position: relative;
	height: calc(100vh - 80px);
	overflow-y: auto;
}

.outer-container {
	margin: 0 10vw;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section {
	height: calc(100vh - 80px);
	padding: 30px 10vw;
	box-sizing: border-box;
}

.btn {
	cursor: pointer;
}

#top-header {
	width: 100vw;
	height: fit-content;
	box-sizing: border-box;
	background-color: $grey;

	#header-container {
		height: 80px;
		align-items: center;
		justify-content: space-between;
		flex-wrap: unset;
	}

	#title-container {
		flex-direction: column;
		justify-content: center;
		text-align: right;
	}
}

#profile-section {
	.container {
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		@media (max-width: 600px) {
			flex-direction: column;
		}

		h1 {
			margin: 0.3em 0;
		}

		p {
			margin: 0.5em 0;
			font-size: 1.1em;
		}

		#photo {
			height: 250px;
			width: 250px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

#tic-tac-toe-section {
	background-color: $primary-light;
	text-align: center;

	#game-header {
		p {
			font-size: 1.1em;
		}
	}

	#game-main {
		width: 100%;
		align-items: center;

		@media (max-width: 600px) {
			align-items: flex-start;
		}

		#game-area {
			background-color: white;
			border: 2px solid $grey;
			box-sizing: border-box;

			order: 2;
			@media (max-width: 600px) {
				order: 1;
			}
		}

		#game-area:after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		#player-one {
			order: 1;
			@media (max-width: 600px) {
				order: 2;
			}
		}

		#player-two {
			order: 3;
			@media (max-width: 600px) {
				order: 4;
			}
		}

		#timer {
			order: 4;
			@media (max-width: 600px) {
				order: 3;
				width: 33.3%;
			}
		}

		.player {
			flex-direction: column;
			@media (max-width: 600px) {
				width: 33.3%;
			}

			.victories {
				font-size: 4em;
				margin: 0;
			}
		}
	}
}

#footer {
	background-color: $primary-light;
	padding: 30px 10vw;

	@media (max-width: 600px) {
		text-align: center;
	}

	h3 {
		font-weight: normal;
	}

	p {
		font-size: 0.9em;
	}

	.social-network-icon {
		height: 25px;
		width: 25px;
		margin-right: 5px;
	}

	#subscribe-prompt {
		width: fit-content;
		border-bottom: 3px solid $grey;
		margin-top: 12px;
		@media (max-width: 600px) {
			margin: 12px auto;
		}

		input {
			height: 20px;
			width: 200px;
			padding: 5px;
			border: 1px solid $grey;
			font-family: 'Glacial Indifference';
		}

		#subscribe-btn {
			height: 22px;
			padding: 5px 10px;
			width: fit-content;
			background-color: $grey;
		}
	}
}
